@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

body {
    font-family: 'League Spartan', sans-serif;
    Font-size: 15px;
    margin: 0;
    padding: 0;
    height: 1530px;
    display: flex;
    justify-content: center;
    background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
    background-position: left top, bottom;
    background-repeat: no-repeat;
}
span{
    font-weight: normal;
    color: hsl(333, 80%, 67%);
}

.article {
    margin-top: 80px;
    width: 328px;
    height: 1353px;
}

.article_header {
    width: 327px;
    margin-top: 0;
}
.article_header__titre {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 44px;
    line-height: 23px;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 30px;
    color: hsl(300, 43%, 22%);
    width: 241px;
    height: 102px;
}
.article_header__paragraph {
    margin: 0;
    font-size: 17px;
    width: 315px;
    line-height: 15x;
    height: 89px;
    color:hsl(303, 10%, 53%);
}

.article_body {
    margin-top: 43px;
    width: 328px;
    height: 268px;
}
.article_body__box {
    display: grid;
    justify-content: center;
    background-color: hsl(300, 24%, 96%);
    background-position: center;
    margin-bottom: 16px;
    border-radius: 8px;
    width: 328px;
    height: 78px;
}
.article_body__box__iconstar{
    letter-spacing: 3px;
    margin-top: 15px;
    margin-left: 15px;
    width: 119px;   
    height: 18px;
}
.body_box__middle__icon{
    margin-left:  29px;
}
.body_box__paragraph{
    font-weight: bold;
    color: hsl(300, 43%, 22%);
    margin-top: 0;
    margin-bottom: 10px;
}

.article_footer {
    display: grid;
    text-align: initial;
    color: #fff;
    font-size: 17px;
    margin-top: 49px;
    width: 328px;
    height: 776px;
}
.article_footer__box {
    background-color: hsl(300, 43%, 22%);
    width: 328px;
    height: 246px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.footer_box__comment {
    width: 256px;
    height: 174px;
    margin-left: 31px;
    margin-top: 39px;
}
.footer_box__comment__profil {
    display: flex;
    margin-bottom: 25px;
    align-items: center;
    font-weight: bold;
    width: 169px;
    height: 41px;
}
.footer_box__comment__profil__logo {
    border-radius: 50px;
    cursor: pointer;
    margin-right: 22px;
    width: 42px;
    height: 41px;
}
.footer_box__comment__profil__paragraph {
    width: 106px;
    height: 37px;
}

@media only screen and (min-width:1000px) {
    body {
        font-family: 'League Spartan', sans-serif;
        Font-size: 15px;
        margin: 0;
        padding: 0;
        height: 800px;
        text-align: center;
        display: flex;
        justify-content: center;
        background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
        background-position: left top, bottom;
        background-repeat: no-repeat;
    }   
    .article {
        text-align: initial;
        display: flex;
        flex-wrap: wrap;
        margin-top: 80px;
        width: 1110px;
        height: 582px;
    }

    .article_header {
        width: 410px;
        height: 245px;
    }
    .article_header__titre{
        width: 333px;
        font-size: 50px;
        line-height: 40px;
        height: 147px;
        margin-left: 0;
    }
    .article_header__paragraph{
        width: 100%;
    }

    .article_body {
        margin-left: 130px;
        width: 538px;
        height: 201px;
    }
    .article_body__box{
        display: flex;
        justify-content: space-around;
        width: 442px;
        height: 51px;
    }
    .article_body__secondbox{
        margin-left: 46px;
    }
    .article_body__thirdbox{
        margin-left: 92px;
    }
    .body_box__paragraph{
        height: 19px;
        margin-top: 15px;
        margin-bottom: 0;
        margin-right: 40px;
    }
    
    .article_footer {
        display: flex;
        width: 1109px;
        height: 265px;
    }
    .article_footer__box{
        margin-bottom: 0;
        margin-right: 40px;
        gap: 30px;
        width: 348px;
        height: 235px;
    }
    .footer_box__comment{
        width: 288px;
        height: 154px;
        margin-left: 30px;
    }
    .footer_box__comment__firstparagraph{
        width: 292px;
    }
    .footer_box__comment__paragraph{
        line-height: 25px;
    }
    .article-footer__secondbox{
        margin-top: 16px;
    }
    .article-footer__thirdbox{
        margin-top: 30px;
    }
}